<div class="duda-facial">
    <h1>Dúvidas sobre a Estética</h1>
    <div class="procedimentos">
        <div class="quadrado">
            <h3>Preenchimento Facial</h3>
            <p>O preenchimento labial é um procedimento estético que utiliza substâncias biocompatíveis, como o ácido
                hialurônico, para aumentar o volume dos lábios e melhorar a definição do contorno labial. Este
                tratamento é ideal para quem deseja lábios mais volumosos, simétricos e hidratados, além de suavizar
                linhas e rugas ao redor da boca. O procedimento é minimamente invasivo, realizado em consultórios
                dermatológicos ou clínicas de estética, e geralmente não requer tempo de recuperação prolongado. Os
                resultados são imediatos e podem durar de seis meses a um ano, dependendo do tipo de produto utilizado e
                das características individuais de cada paciente.</p>
            <button mat-button (click)="openModal({ title: 'Oque é Preenchimento Facial?', 
                description: 'O preenchimento labial é um procedimento estético minimamente invasivo que utiliza substâncias, geralmente ácido hialurônico, para aumentar o volume e melhorar a forma dos lábios. Este tratamento pode proporcionar lábios mais cheios, definir melhor o contorno e suavizar linhas finas ao redor da boca, contribuindo para um visual rejuvenescido e harmônico.',
                title2: 'Como Funciona?',
                description2: 'Durante o procedimento, o ácido hialurônico é injetado cuidadosamente nos lábios usando uma agulha fina. A substância é um gel que atrai e retém água, proporcionando volume e hidratação aos lábios. O tratamento é feito geralmente em consultório e pode durar de 15 a 30 minutos.',
                 })">
                Saber Mais <mat-icon class="seta">arrow_forward</mat-icon>
            </button>
        </div>

        <div class="quadrado">
            <h3>Botox</h3>
            <p>Botox é uma marca registrada para uma proteína purificada chamada toxina botulínica, que é usada para
                suavizar rugas e linhas de expressão. Quando injetado em pequenas quantidades, o Botox age bloqueando
                temporariamente os sinais nervosos para os músculos, o que reduz a sua atividade e, consequentemente,
                diminui a formação de rugas. Além de aplicações estéticas, o Botox também é utilizado para tratar
                condições médicas como enxaquecas e espasmos musculares.
            </p>
            <button mat-button (click)="openModal({ title: 'Botox', 
            description: 'O Botox, ou toxina botulínica tipo A, é um tratamento estético que atua suavizando rugas e linhas de expressão. Ele funciona bloqueando os sinais nervosos que levam à contração dos músculos, resultando em um efeito de relaxamento. Ao ser injetado diretamente nos músculos responsáveis pelas rugas, como os da testa e ao redor dos olhos, o Botox impede a liberação de acetilcolina, um neurotransmissor que sinaliza os músculos a se contraírem. Isso leva a uma paralisia temporária desses músculos, tornando as rugas menos visíveis e proporcionando uma aparência mais suave e rejuvenescida. Os efeitos começam a aparecer em 3 a 7 dias e podem durar de 3 a 6 meses, após os quais o tratamento deve ser reaplicado para manter os resultados. O Botox é considerado seguro quando administrado por profissionais qualificados e não exige um tempo de recuperação significativo.',
            title2: 'Como Funciona?',
                description2: 'O procedimento de aplicação do Botox é simples e rápido. Começa com uma avaliação da área a ser tratada e, se necessário, a aplicação de um anestésico tópico. O Botox é injetado com uma agulha fina nos músculos que causam as rugas, e o número de injeções varia conforme a área. O procedimento leva cerca de 15 a 30 minutos, e os pacientes podem retomar as atividades normais imediatamente. Os efeitos começam a aparecer entre 3 a 7 dias, proporcionando uma aparência mais suave e rejuvenescida.',


                })">
                Saber Mais <mat-icon class="seta">arrow_forward</mat-icon>
            </button>
        </div>

        <div class="quadrado">
            <h3>Harmonização Facial</h3>
            <p>A harmonização facial é um conjunto de procedimentos estéticos que visa equilibrar e melhorar a estética
                do rosto, promovendo um aspecto mais simétrico e rejuvenescido. Essa técnica combina diferentes
                tratamentos, como preenchimentos faciais, toxina botulínica (Botox), fios de sustentação e
                bioestimuladores de colágeno, para atender às necessidades específicas de cada paciente. O objetivo é
                realçar os contornos naturais do rosto, suavizar rugas, melhorar a definição do queixo e aumentar o
                volume das bochechas e lábios, entre outros aspectos. A harmonização facial é personalizada e realizada
                por profissionais qualificados, garantindo resultados naturais e harmônicos, que proporcionam mais
                autoestima e satisfação ao paciente.

            </p>
            <button mat-button (click)="openModal({ title: 'Harmonização Facial', 
                description: 'A harmonização facial funciona por meio da combinação de diferentes procedimentos estéticos que visam equilibrar e melhorar a aparência do rosto. Esses procedimentos incluem preenchimentos faciais, que utilizam substâncias como ácido hialurônico para restaurar volume e suavizar rugas; toxina botulínica (Botox), que bloqueia os sinais nervosos e reduz linhas de expressão; fios de sustentação, que levantam e firmam a pele; e bioestimuladores de colágeno, que estimulam a produção de colágeno, melhorando a elasticidade e firmeza da pele. O tratamento é personalizado, considerando a estrutura facial e as expectativas do paciente, com resultados imediatos que podem durar de meses a anos. A harmonização facial é realizada em consultório, geralmente com anestésico local para maior conforto.',
                    title2: 'Como Funciona?',
                    description2: 'O procedimento de harmonização facial ocorre em várias etapas. Primeiro, o profissional avalia a estrutura facial e discute as expectativas do paciente. Em seguida, é aplicado um anestésico local para conforto. O tratamento envolve injeções de preenchimentos faciais, como ácido hialurônico, para restaurar volume; aplicação de toxina botulínica (Botox) para relaxar linhas de expressão; fios de sustentação para levantar a pele; e bioestimuladores de colágeno para estimular a produção de colágeno. A duração varia de 30 a 90 minutos, com resultados imediatos que podem durar meses a anos. Após o procedimento, recomenda-se evitar exercícios intensos e exposição ao sol por alguns dias.',
                 })">
                Saber Mais <mat-icon class="seta">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>