<div class="teste"></div>
<app-painel></app-painel>
<div class="container">
    <div class="overlay">
      <div class="content">
        <h1 class="title">Beleza que inspira</h1>
        <p class="description">
          Cuidados que encantam.
        </p>
        <a href="https://wa.me/5511999999999" target="_blank" class="whatsapp-button">
          <img src="https://www.citypng.com/public/uploads/preview/outline-whatsapp-wa-watsup-green-logo-icon-symbol-sign-png-701751695124303npsmzlcjyh.png" alt="WhatsApp">
          Agende seu horário conosco
        </a>
      </div>
    </div>
  </div>
  <br>
  <app-duvidas></app-duvidas>
  <app-quem-somos></app-quem-somos>
  <app-comentarios></app-comentarios>
  <app-antes-depois></app-antes-depois>
  <app-experimente></app-experimente>
  
