.antes-depois-container {
  text-align: center;
  background-color: pink;
  width: 100%;
  padding: 30px 0;
}

.antes-depois-container h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5; /* Ajuste o line-height para maior responsividade */
  color: #f7007c;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 5%; /* Ajuste a margem para maior responsividade */
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel {
  display: flex;
  animation: slide 20s linear infinite;
  gap: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

.quadrado {
  flex: 0 0 30%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 350px;
}

.quadrado:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.imagens {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  flex-wrap: wrap;
}

.imagem {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.imagem img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .antes-depois-container h2 {
    font-size: 24px;
    margin-left: 10px;
  }

  .quadrado {
    flex: 0 0 45%;
  }
}

@media (max-width: 480px) {
  .antes-depois-container h2 {
    font-size: 20px;
    margin-left: 5%;
  }

  .quadrado {
    flex: 0 0 80%;
    height: auto;
  }
}
