.modal-container {
  background-color: #ffc0cb;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: black;
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.modal-content {
  margin-bottom: 20px;
  color: #44312b;
  font-size: 24px;
  font-family: "Bree Serif", serif;
  line-height: 1.2;
}

.close-button {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
  font-size: 20px;
}

.close-button:hover {
  background-color: #f7007c;
}

@media (max-width: 768px) {
  .modal-container {
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .modal-content {
    font-size: 20px;
  }

  .close-button {
    font-size: 18px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .modal-container {
    padding: 15px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .modal-content {
    font-size: 18px;
  }

  .close-button {
    font-size: 16px;
    padding: 6px 12px;
  }
}
