<div class="panel">
    <div class="logo-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEHMmrXq2dnXTtaSS-8Epivi2jHyn4Qp7M3A&s" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela sua imagem -->
    </div>
    <div class="options-container">
        <a href="#" class="option">Home</a>
        <a href="#" class="option">Duvidas</a>
        <a href="#" class="option">Sobre Nós</a>
        <a href="#" class="option">Experimente</a>
    </div>
    <div class="social-container">
        <a href="https://instagram.com" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png" alt="Instagram" class="instagram-logo"> <!-- Substitua "instagram-logo.png" pela sua imagem -->
        </a>
    </div>
</div>
