.footer {
  background: linear-gradient(to right, #daa520, #f9e158, #daa520);
  color: rgb(0, 0, 0);
  padding: 20px 0;
  font-family: "Questrial", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
  font-size: 18px;
  line-height: 1.4;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

.footer-section a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Questrial", sans-serif;
}

.footer-section a:hover {
  color: rgb(255, 48, 82);
  text-decoration: underline;
}

.footer-section .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 20px 0;
  }
}
